extends layout.pug 

block content 
    table 
      thead 
        tr 
          th Name 
          th Picture 
          th Average Rating
          th My Rating 
          th Review
      tbody 
        each cat in catList.Cats
          tr 
            td
              a(href=`/cats/${cat.id}`)= cat.name
            td
              img(src=cat.imgUrl, alt="", style="max-width: 150px")
              //- img(src= cat.imgUrl)
            if cat.Reviews.length
              td= (cat.Reviews.reduce((accum, currentReview) => accum + parseInt(currentReview.rating), 0) / cat.Reviews.length)
              
            each review in cat.Reviews
              if review.userId === userId
                td
                  p= review.rating

                td
                  p= review.content
          
