extends layout.pug

block content
    .cat
        h1= cat.name
        ul
            li= cat.breed
            li= cat.coat
            li= cat.size
            li= cat.friendly
        a(href=`/users/${cat.userId}`) My Creator
        a(href=`/cats/${cat.id}/reviews/new`) Add Review

