extends layout.pug

block content
    .cat
        div
            figure
                img(src=`${cat.imgUrl}`, alt="" style= "max-width: 200px")
        h1= cat.name
        form(action=`/cats/${cat.id}/addToCatList`, method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            select(name="catListId")
                each list in defaultLists
                    if list.id === currentDefaultList.id
                        option(value=list.id selected)= `In List - ${list.name}`
                    else
                        option(value=list.id)= list.name
            button Update Pet Status
        form(action=`/cats/${cat.id}/addToCatList`, method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            select(name="catListId")
                each list in listsCatIsNotIn
                    option(value=list.id)= list.name
            button Add to Cat List
        ul
            li Breed: #{cat.breed}
            li Coat: #{cat.coat}
            li Size: #{cat.size}
            li Friendly: #{cat.friendly}
        a(href=`/users/${cat.userId}`) My Creator
        a(href=`/cats/${cat.id}/reviews/new`) Add Review
        each review in reviews
            .review-container
                .review-heading
                    ul
                        li
                            a(href=`/users/${review.User.id}`)= review.User.firstName+' '+review.User.lastName
                        li
                            p Rating: #{review.rating}
                        li
                            p Review: #{review.content}

