extends layout.pug

block content
    .catsContainer
        each cat in cats
          a(href=`/cats/${cat.id}`)
            .catbox
              p= cat.name

                if cat.imgUrl
                  .catContainer(style=`background-image: url(${cat.imgUrl})`)
                else
                  .catContainer(style=`background-image: url('favicon.ico')`)
                  //- .catImg(style=`background-image: url(${cat.imgUrl})`)
                  //- img(src=`${cat.imgUrl}`, alt="" style)
