extends layout

block content
    h1 My Cats
    table
        thead
            tr
                th
                th Cat Name
                th Date Created
                th Date Edited
                th
                th
        tbody
            each cat in cats
                tr
                    //- td= img(src=`${cat.imgUrl}`, alt="")
                    td= cat.name
                    td= cat.dateCreated
                    td= cat.dataUpdated
                    td
                        a(href=`/cats/edit/${cat.id}` role='button') Edit
                        a(href=`/cats/delete/${cat.id}` role='button') Delete
