extends layout.pug

block content
    .userContainer
         ul
            li= `Username: ${user.username}`
            li= `Name: ${user.firstName} ${user.lastName}`
            li= `Bio: ${user.bio}`
            //- each cat in user.Cats
            //-     li
            //-         a(href= `/cats/${cat.id}`)
            //-             p= `${cat.name}`
            //-             img(src= cat.imgUrl style= "max-width: 200px")
            table
                thead
                  tr
                    th Name
                    th Picture
                tbody
                  each cat in user.Cats
                    tr
                      td
                        a(href=`/cats/${cat.id}`)= cat.name
                      td
                        img(src=cat.imgUrl, alt="", style="max-width: 150px")
                        //- img(src= cat.imgUrl)
                      //- td

                      //- each review in user.Reviews
                      //-   if review.catId === cat.id
                      //-     .reviewContainer
                      //-       td
                      //-           p= review.rating
                      //-       td
                      //-           p= review.content
                      //-             button(class="edit" id=`${review.id}-${review.userId}-edit`) Edit
                      //-             button(class="delete" id=`${review.id}-${review.userId}-delete`) Delete
                      //-   else 
                      //-     td 
                      //-       button(class="create" id=`${csrfToken}-${cat.id}`) Create
    script(src="/javascripts/userReviews.js" type="module")


