extends layout.pug 

block content
    script(src="/javascripts/reviews.js" type="module")
    h1= title
    .my-reviews
      table
        thead
            tr
                th Picture
                th Name
                th Rating
                th Review
                th Options
        tbody
            each review in reviews
                tr(id=`review-${review.id}`)
                    td
                      a(href=`/cats/${review.Cat.id}`) 
                        img(src=`${review.Cat.imgUrl}`, alt="")
                    td 
                      a(href=`/cats/${review.Cat.id}`)= review.Cat.name
                    td= review.rating
                    td
                      p= review.content
                    td
                        if thisUser
                          a(href=`/reviews/${review.id}/edit`)
                             button(class="edit" id=review.id) Edit
                          button(class="delete" id=review.id) Delete